# Jekyll/Ruby Stuff

# NOTE:
# GitHub Pages doesn't allow for custom Ruby plugins. This means that my
# method of generating pages for each category and tag will not work.
# To get around this, I'm pushing up the entire statically generated site,
# and changing the Jekyll destination directory to `docs`.
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata
.bundle/
vendor/