---
# Global
layout: blog_index
title: Blog | Craft Theory

# Page Specific
splash_main_text: Blog Posts
splash_sub_text: Nonsense goes here
---

<section id="index-content">
    <aside>
        <h2>Recent Blogs</h2>
        {% for post in site.posts %}
        <article>
            <h3>{{ post.title }}</h3>
            <h5>Published {{ post.date | date: "%B %e, %Y at %l:%M %P" }}</h5>
            {% if post.teaser %}
                <p>{{ post.teaser | markdownify }}</p> 
            {% endif %}
            <a class="button" href="{{ post.url }}">Read More</a>
        </article>
        {% endfor %}
    </aside>
    <aside>
        {% include categories_tags_sidebar.html %}
    </aside>
</section>
