---
# Global
layout: blog_index
title: Blog | Craft Theory

# Page Specific
splash_main_text: Blog Posts
splash_sub_text: |
    Musings on the topics of poker, software development, and on rare
    occasions, something different...
---

<section id="index-content">
    <aside>
        <h2>Recent Posts</h2>
        {% for post in site.posts %}
        <article>
            <a class="post-title" href="{{ post.url }}">{{ post.title }}</a>
            <h5>Published {{ post.date | date: "%B %e, %Y at %l:%M %P" }}</h5>
            {% if post.teaser %}
                {{ post.teaser | markdownify }} 
            {% endif %}
        </article>
        {% endfor %}
    </aside>
    <aside>
        {% include categories_tags_sidebar.html %}
    </aside>
</section>
