---
# Global
layout: default
title: Craft Theory | Cody Moncur's Personal Poker and Dev Blog

# Page Specific
splash_main_text: Well met! My name is Cody...
splash_sub_text: |
    ... but I'm known to many as Craft. I am a software engineer, and I blog about poker and
    software development.
---

<section id="index-content">
    <aside>
        <h2>Featured Posts</h2>
        {% assign featured_posts = site.posts | where: "featured", true %}
        {% for post in featured_posts %}
            <article>
                <a class="post-title" href="{{ post.url }}">{{ post.title }}</a>
                <h5>Published {{ post.date | date: "%B %e, %Y at %l:%M %P" }}</h5>
                {% if post.teaser %}
                    {{ post.teaser | markdownify }}
                {% endif %}
            </article>
        {% endfor %}
        <article></article>
        <h3 id="about">About Me</h3>
        <p>
            Hello there! My name is <strong>Cody Moncur</strong>. I'm a Las
            Vegas based software engineer, poker enthusiast, United States
            Marine Corps veteran, mountain biker, and creator.
        </p>
        <h2 class="em-margin-top-1">My Developer Journey</h2>
        <p>
            In nearly ten years of professional experience, I have gone from
            <strong>front-end engineer</strong> helping big-name organizations
            showcase new products, to <strong>back-end engineer</strong>
            writing authentication software, to
            <strong>mobile developer</strong> publishing sleek and user
            friendly applications on both Android and Apple platforms,
            and everything in between.  
        </p>
        <p>
            <strong>TypeScript</strong>, <strong>Python</strong>,
            <strong>React</strong>, and <strong>Flask</strong> are
            my languages and tools of choice, and I tend to code in a
            <strong>functionally aware</strong> style. My journey has
            introduced me to plenty of other syntaxes, frameworks, and
            paradigms as well, and I won't ever shy away from an opportunity
            to learn something new!
        </p>
        <h2 class="em-margin-top-1">My Poker Journey</h2>
        <p>
            Traits such as problem solving, logic, and deductive reasoning
            are common among software engineers, and also lend themselves
            to success in poker. So, it's no surprise that after my graduation
            from Washington State University in 2015, and my subsequent move
            to Las Vegas, I rapidly grew to love the game.
        </p>
        <p>
            While my primary area of focus is <strong>pot-limit omaha</strong>
            cash games, I have seen success in tournaments as well, to include
            a <strong>3rd place finish</strong> in a PLO/NLHE World Series 
            of Poker circuit event in 2019, and a
            <strong>top 0.4% finish</strong> in the World Series of Poker
            "Colossus" event in 2018, which drew a field of over 13,000
            entrants.
        </p>
        <p>
            My goal is to tell my poker story and share my studies using this
            very blog as a medium! I primarily enjoy writing to track my own
            development as a player, but I hope that the content found here may
            be valuable to others as well. In time, I'd like to begin coaching!
        </p>
    </aside>
    <aside>
        {% include categories_tags_sidebar.html %}
    </aside>
</section>
