<h2 class="gray">Categories</h2>
{% for category in site.categories %}
    <a
        class="button-category-tag"
        href="/categories/{{ category | first | uri_escape }}"
    >
        {{ category | first | capitalize }} ({{ category[1].size }})
    </a>
{% endfor %}

<h2 class="gray">Tags</h2>
{% for tag in site.tags %}
    <a
        class="button-category-tag"
        href="/tags/{{ tag | first | uri_escape }}"
    >
        {{ tag | first | capitalize }} ({{ tag[1].size }})
    </a>
{% endfor %}