<footer>
    <nav id="footer">
        <aside>
            <a href="/">Home</a>
            <a href="/blog">Blog</a>
            <a href="/podcast">Podcast</a>
            <a href="/about">About</a>
        </aside>
        <aside>
            <a href="/">YouTube</a>
            <a href="/">Twitch</a>
        </aside>
        <aside>
            <a href="/">Apple Podcasts</a>
            <a href="/">Google Podcasts</a>
            <a href="/">Spotify</a>
        </aside>
    </nav>
    <h6>Copyright &copy; 2022 Craft Theory</h6>
</footer>
