<footer>
    <nav id="footer">
        <aside>
            <a href="/">Home</a>
            <a href="/blog">Blog</a>
            <a href="/#about">About</a>
        </aside>
        <aside>
            <a
                href="https://github.com/cmoncur"
                target="_blank"
            >
                GitHub
            </a>
            <a
                href="https://www.youtube.com/channel/UCJjVE_IAwBSthzP4l7ouA5g"
                target="_blank"
            >
                YouTube
            </a>
            <a
                href="https://www.twitch.tv/crafttheory"
                target="_blank"
            >
                Twitch
            </a>
        </aside>
        <aside>
            <a href="/categories">
                Categories ({{ site.categories | size }})
            </a>
            <a href="/tags">
                Tags ({{ site.tags | size }})
            </a>
            {% for category in site.categories %}
            <a href="/categories/{{ category | first | uri_escape }}">
                Posts in {{ category | first | capitalize }} ({{ category[1].size }})
            </a>
            {% endfor %}
        </aside>
    </nav>
    <h6>Copyright &copy; 2022 Cody Moncur</h6>
</footer>
