<nav id="header">
    <div></div>
    <img class="logo" src="/img/logo.png" alt="Craft Theory Logo">
    <img id="hamburger" src="/img/hamburger.svg" alt="Menu">
    <img id="hamburger-close" src="/img/hamburger_close.svg" alt="Close Menu">
    <a href="/">Home</a>
    <a href="/blog">Blog</a>
    <aside>
        <a href="#" target="_blank">
            <img src="/img/logo_youtube.svg" alt="Craft Theory YouTube Channel">
        </a>
        <a href="https://www.twitch.tv/crafttheory" target="_blank">
            <img src="/img/logo_twitch.svg" alt="Craft Theory Twitch Channel">
        </a>
    </aside>
    <section>
        <a href="/">Home</a>
        <a href="/blog">Blog</a>
        <aside>
            <a href="#" target="_blank">
                <img src="/img/logo_youtube.svg" alt="Craft Theory YouTube Channel">
            </a>
            <a href="https://www.twitch.tv/crafttheory" target="_blank">
                <img src="/img/logo_twitch.svg" alt="Craft Theory Twitch Channel">
            </a>
        </aside>
    </section>
</nav>
