@import "constants";

// General Typography
h1
    color: $white
    font-family: "Bebas Neue", sans-serif
    font-size: 3em
    letter-spacing: 0.2em
    line-height: 1.2em

h2
    color: $text-light-gray
    font-family: "Bebas Neue", sans-serif
    font-size: 1.5em
    letter-spacing: 0.2em
    line-height: 1.2em

h3
    color: $white
    font-family: "Bebas Neue", sans-serif
    font-size: 2em
    letter-spacing: 0.2em
    line-height: 1.2em
    margin: 0.5em 0

h4
    color: $white
    font-family: "Open Sans", sans-serif
    font-size: 1em
    font-weight: 300
    line-height: 1.2em
    margin: 1em 0

h5
    color: $text-dark-gray
    font-family: "Open Sans", sans-serif
    font-size: 0.8em
    font-weight: 400

p
    color: $text
    font-family: "Open Sans", serif
    font-size: 1em
    font-weight: 300
    line-height: 1.5em
    margin: 1em 0
