@import "constants"

// General Typography
h1
    color: $white
    font-family: "Bebas Neue", sans-serif
    font-size: 3em
    letter-spacing: 0.15em
    line-height: 1.2em

h2
    color: $white
    font-family: "Bebas Neue", sans-serif
    font-size: 1.5em
    letter-spacing: 0.15em
    line-height: 1.2em
    margin: 1.5em 0 0.5em 0

    &.gray
        color: $text-light-gray

h3
    color: $white
    font-family: "Bebas Neue", sans-serif
    font-size: 2em
    letter-spacing: 0.15em
    line-height: 1.2em
    margin: 0.5em 0

h4
    color: $white
    font-family: "Open Sans", sans-serif
    font-size: 1em
    font-weight: 300
    line-height: 1.5em
    margin: 1em 0

h5
    color: $text-dark-gray
    font-family: "Open Sans", sans-serif
    font-size: 0.8em
    font-weight: 400
    margin: 0 0 1.5em 0

h6
    color: $text-dark-gray
    font-family: "Open Sans", sans-serif
    font-size: 0.6em
    font-weight: 400
    text-align: center

p
    color: $text
    font-family: "Open Sans", serif
    font-size: 1em
    font-weight: 300
    line-height: 1.8em

    strong
        font-weight: 700

    em
        font-style: italic

p + p
    // Paragraphs that come immediately after other paragraphs
    // need some extra space.
    margin: 1.5em 0 0 0

ul
    margin: 1.5em 0

li
    color: $text
    font-family: "Open Sans", serif
    font-size: 1em
    font-weight: 300
    line-height: 1.8em
    list-style: square

    strong
        font-weight: 700

    em
        font-style: italic

@media (max-width: $narrow)
    h1
        font-size: 2em

    p
        font-size: 1.2em

// Navigation
p a,
p a:link,
p a:active,
p a:visited
    color: $off-white
    font-family: "Open Sans", serif
    font-size: 1em
    font-weight: 300
    line-height: 1.5em
    margin: 0.75em 0 0.5em 0
    text-decoration: underline
    transition: color 100ms

p a:hover
    color: $white

a.post-title,
a.post-title:link,
a.post-title:active,
a.post-title:visited
    border-bottom: 1px solid rgba(255, 255, 255, 0)
    color: $white
    display: block
    font-family: "Bebas Neue", sans-serif
    font-size: 2em
    letter-spacing: 0.15em
    line-height: 1.2em
    margin: 0.5em 0
    text-decoration-line: none
    text-decoration-thickness: 1px
    text-underline-offset: 3px

a.post-title:hover
    text-decoration-line: underline

a.button,
a.button:link,
a.button:active,
a.button:visited
    border: 1px solid $text
    border-radius: 4px
    color: $text
    display: inline-block
    font-family: "Bebas Neue", sans-serif
    height: 2em
    letter-spacing: 0.15em
    margin: 0 0 0.5em 0
    padding: 0.5em 1em
    text-decoration: none
    transition: border 100ms, color 100ms

a.button:hover
    border: 1px solid $white
    color: $white

a.button-category-tag,
a.button-category-tag:link,
a.button-category-tag:active,
a.button-category-tag:visited
    border: 1px solid $text
    border-radius: 4px
    color: $text
    display: inline-block
    font-family: "Bebas Neue", sans-serif
    font-size: 0.6em
    height: 2em
    letter-spacing: 0.15em
    margin: 5px 0 0 0
    padding: 0.5em 1em
    text-decoration: none
    transition: border 100ms, color 100ms

a.button-category-tag:hover
    border: 1px solid $white
    color: $white
