@import "constants";

// General Typography
h1
    color: $white
    font-family: "Bebas Neue", sans-serif
    font-size: 3em
    letter-spacing: 0.2em
    line-height: 1.2em

h2
    color: $text-light-gray
    font-family: "Bebas Neue", sans-serif
    font-size: 1.5em
    letter-spacing: 0.2em
    line-height: 1.2em

h3
    color: $white
    font-family: "Bebas Neue", sans-serif
    font-size: 2em
    letter-spacing: 0.2em
    line-height: 1.2em
    margin: 0.5em 0

h4
    color: $white
    font-family: "Open Sans", sans-serif
    font-size: 1em
    font-weight: 300
    line-height: 1.2em
    margin: 1em 0

h5
    color: $text-dark-gray
    font-family: "Open Sans", sans-serif
    font-size: 0.8em
    font-weight: 400

h6
    color: $text-dark-gray
    font-family: "Open Sans", sans-serif
    font-size: 0.6em
    font-weight: 400
    text-align: center

p
    color: $text
    font-family: "Open Sans", serif
    font-size: 1em
    font-weight: 300
    line-height: 1.5em
    margin: 1em 0

// Navigation
a.button,
a.button:link,
a.button:active,
a.button:visited
    border: 1px solid $text
    color: $text
    display: inline-block
    font-family: "Bebas Neue", sans-serif
    height: 2em
    letter-spacing: 0.2em
    padding: 0.5em 1em
    text-decoration: none
    transition: border 100ms, color 100ms

a.button:hover
    border: 1px solid $white
    color: $white
