@import "colors";
    
nav
    height: 100px
    left: 0
    position: fixed
    top: 0
    width: 100%

    img
        display: block
        float: left
        height: 60px
        margin: 20px 30px 20px 20px
        pointer-events: none
        user-select: none
        width: 60px

    a, a:link, a:active, a:visited
        color: $white
        float: left
        font-family: "Bebas Neue", sans-serif
        font-size: 1.2em
        letter-spacing: 0.2em
        line-height: 100px
        padding: 0 0.75em 0 0
        text-decoration: none
        transition: color 100ms

    a:hover
        color: $text-light-gray