@import "constants";

section#index-content
    align-items: flex-start
    display: flex
    justify-content: space-between

    article
        border-top: 1px solid $border
        margin: 1.5em 0

    > aside:first-of-type
        width: calc(100% - 350px)

    > aside:last-of-type
        width: 320px

    iframe
        height: 180px
        margin: 1.5em 0 0 0
        width: 320px

