@import "constants";

section#splash
    align-items: center
    background-color: $dark-gray
    background-image: url("../img/splash.svg")
    background-position: 90% 40%
    background-repeat: no-repeat
    background-size: clamp(800px, 60%, 1500px)
    display: flex
    height: 600px
    justify-content: center
    position: relative

    aside
        height: 100px
        position: absolute

    aside#banner // Banner
        background-image: url("../img/banner.png")
        background-repeat: repeat-x
        background-size: 1px 100px
        bottom: -20px
        max-width: $wide
        width: 100%
        z-index: 2

        h1
            letter-spacing: 1.5vw
            line-height: 100px
            text-align: center

    aside#banner-bottom-left
        background-image: url("../img/banner_bottom_left.png")
        background-repeat: no-repeat
        background-size: 130px 100px
        bottom: -68px
        left: -63px
        width: 130px
        z-index: 1

    aside#banner-bottom-right
        background-image: url("../img/banner_bottom_right.png")
        background-repeat: no-repeat
        background-size: 130px 100px
        bottom: -68px
        right: -63px
        width: 130px
        z-index: 1

    aside#banner-shadow
        background-image: url("../img/banner_shadow.png")
        background-size: 100% 100%
        bottom: -140px
        height: 300px
        left: 0
        max-width: $wide
        width: 100%

    div
        align-items: flex-start
        display: flex
        flex-direction: column
        height: 100%
        justify-content: center
        max-width: $wide
        position: relative
        width: 80%

        > h1
            max-width: 600px
            width: 100%

@media (max-width: $standard)
    section#splash
        background-position: 95% 40%
        background-size: 500px
        height: 400px

        aside#banner // Banner
            background-size: 1px 60px
            bottom: -50px
            width: 100%

            h1
                line-height: 64px

        aside#banner-bottom-left
            background-size: 78px 60px
            bottom: -79px
            left: -38px
            width: 78px

        aside#banner-bottom-right
            background-size: 78px 60px
            bottom: -79px
            right: -38px
            width: 78px

        aside#banner-shadow
            bottom: -100px
            height: 200px