<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ page.title }} | Craft Theory</title>
        {% include fonts.html %}
        {% include favicon.html %}
        <link rel="stylesheet" href="/css/main.css">
        <script type="text/javascript" src="/js/scroll.js"></script>
    </head>
    <body>
        {% include header.html %}
        {% include splash_blog.html %}
        <section id="content">
            <section id="index-content">
                <aside>
                    {{ content }}
                </aside>
                <aside>
                    <h2 class="gray">Post Category</h2>
                    <a
                        class="button-category-tag"
                        href="/categories/{{ page.category | uri_escape }}"
                    >
                        {{ page.category | capitalize }}
                    </a>
                    <h2 class="gray">Post Tags</h2>
                    {% for tag in page.tags %}
                        <a
                            class="button-category-tag"
                            href="/tags/{{ tag | uri_escape }}"
                        >
                            {{ tag | capitalize }}
                        </a>
                    {% endfor %}
                </aside>
            </section>
        </section>
        {% include footer.html %}
    </body>
</html>
