<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ page.title }}</title>
        {% include fonts.html %}
        {% include favicon.html %}
        <link rel="stylesheet" href="/css/main.css">
        <script type="text/javascript" src="/js/scroll.js"></script>
    </head>
    <body>
        {% include header.html %}
        {% include splash_categories.html %}
        <section id="content">
            {{ content }}
        </section>
        {% include footer.html %}
    </body>
</html>
