<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Blog posts in the {{ page.category | capitalize }} category | Craft Theory</title>
        {% include fonts.html %}
        {% include favicon.html %}
        <link rel="stylesheet" href="/css/main.css">
        <script type="text/javascript" src="/js/scroll.js"></script>
    </head>
    <body>
        {% include header.html %}
        {% include splash_category.html %}
        <section id="content">
            <section id="index-content">
                <aside>
                    <h2>Blog posts in {{ page.category | capitalize }}</h2>
                    <!-- Posts comes from `categories.rb` generator -->
                    {% for post in page.posts %}
                    <article>
                        <a class="post-title" href="{{ post.url }}">{{ post.title }}</a>
                        <h5>Published {{ post.date | date: "%B %e, %Y at %l:%M %P" }}</h5>
                        {% if post.teaser %}
                            {{ post.teaser | markdownify }}
                        {% endif %}
                    </article>
                    {% endfor %}
                </aside>
                <aside>
                    {% include categories_tags_sidebar.html %}
                </aside>
            </section>
        </section>
        {% include footer.html %}
    </body>
</html>
