<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Blog posts tagged with "{{ page.tag | capitalize }}" | Craft Theory</title>
        {% include fonts.html %}
        {% include favicon.html %}
        <link rel="stylesheet" href="/css/main.css">
        <script type="text/javascript" src="/js/scroll.js"></script>
    </head>
    <body>
        {% include header.html %}
        {% include splash_tag.html %}
        <section id="content">
            <section id="index-content">
                <aside>
                    <h2>Blog posts tagged with "{{ page.tag | capitalize }}"</h2>
                    <!-- Posts comes from `tags.rb` generator -->
                    {% for post in page.posts %}
                    <article>
                        <h3>{{ post.title }}</h3>
                        <h5>Published {{ post.date | date: "%B %e, %Y at %l:%M %P" }}</h5>
                        {% if post.teaser %}
                            <p>{{ post.teaser | markdownify }}</p> 
                        {% endif %}
                        <a class="button" href="{{ post.url }}">Read More</a>
                    </article>
                    {% endfor %}
                </aside>
                <aside>
                    {% include categories_tags_sidebar.html %}
                </aside>
            </section>
        </section>
        {% include footer.html %}
    </body>
</html>
